<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>我的品牌街</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="/home/goods/css/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/home/goods/js/jquery.min.js"></script>
        <script type="text/javascript" src="/home/goods/js/tab.js"></script>
    </head>
    <body>
        <!--

         * 17素材vip建站专区模块代码
         * 详尽信息请看官网：http://www.17sucai.com/pins/vip
         *
         * Copyright , 温州易站网络科技有限公司版权所有
         *
         * 请尊重原创，未经允许请勿转载。
         * 在保留版权的前提下可应用于个人或商业用途

        -->
        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <img src="/home/goods/images/head-con.jpg" width="40%" alt="">
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-tab" data-ydui-tab>
                    <div class="aui-item-ofl">
                        <ul class="tab-nav">
                            <li class="tab-nav-item tab-active">
                                <a href="javascript:;">我的商品</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-panel">
                        <div class="tab-panel-item tab-active">
                            <div class="tab-item">
                                <div class="aui-shop-list aui-shop-list-selected">
                                    {foreach $goods as $v}
                                    <a href="/home/goods_read/{$v->id}" class="aui-shop-list-item">
                                        <div class="aui-shop-list-item-hd">
                                            <img src="/photo/{$v['pic']}" alt="">
                                            <span class="aui-shop-list-item-tag">特价</span>
                                        </div>
                                        <div class="aui-shop-list-item-bd">
                                            <h3><span style="color:red">{$v['name']}</span><span  style="color:blue">-----</span>{$v['content']}</h3>
                                            <p class="aui-special-etc">
                                                <span style="margin-left:-360px" class="aui-special-etc-hd">{$v['price']}￥</span>
                                            </p>
                                        </div>
                                    </a>
                                    {/foreach}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
