<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>我的品牌街</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="/home/goods/css/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/home/goods/js/jquery.min.js"></script>
        <script type="text/javascript" src="/home/goods/js/tab.js"></script>
    </head>
    <body>
        <!--

         * 17素材vip建站专区模块代码
         * 详尽信息请看官网：http://www.17sucai.com/pins/vip
         *
         * Copyright , 温州易站网络科技有限公司版权所有
         *
         * 请尊重原创，未经允许请勿转载。
         * 在保留版权的前提下可应用于个人或商业用途

        -->
        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <img src="/home/goods/images/head-con.jpg" width="40%" alt="">
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-tab" data-ydui-tab>
                    <div class="aui-item-ofl">
                        <ul class="tab-nav">
                            <li class="tab-nav-item tab-active">
                                <a href="javascript:;">我的动态</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-panel">
                        <div class="tab-panel-item tab-active">
                            <div class="tab-item">
                                <a href="javascript:;" class="aui-flex b-line">
                                    <div class="aui-street-box">
                                        <img src="/home/goods/images/logo-001.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>Apple 苹果</h2>
                                        <p>77在售 | 12.9万关注</p>
                                    </div>
                                    <div class="aui-flex-fr"></div>
                                </a>
                                <div class="aui-flex aui-flex-title">
                                    <div class="aui-flex-box">
                                        <em>促销</em>
                                        48款活动商品
                                    </div>
                                    <div class="aui-flex-button-df">查看全部</div>
                                </div>
                                <div class="aui-shop-list aui-shop-list-selected">
                                    <a href="javascript:;" class="aui-shop-list-item">
                                        <div class="aui-shop-list-item-hd">
                                            <img src="/home/goods/images/sp-001.jpg" alt="">
                                            <span class="aui-shop-list-item-tag">特价</span>
                                        </div>
                                        <div class="aui-shop-list-item-bd">
                                            <h3>Apple iPhone 8 Plus 64GB 红色特别版 移动联通电信4G手机</h3>
                                            <p class="aui-special-etc">
                                                <span class="aui-special-etc-hd">￥2598</span>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="aui-shop-list-item">
                                        <div class="aui-shop-list-item-hd">
                                            <img src="/home/goods/images/sp-002.jpg" alt="">
                                            <span class="aui-shop-list-item-tag">9.9折</span>
                                        </div>
                                        <div class="aui-shop-list-item-bd">
                                            <h3>Apple iPad 平板电脑 2018年新款9.7英寸（32G WLAN版/A10 芯片/Retina</h3>
                                            <p class="aui-special-etc">
                                                <span class="aui-special-etc-hd">￥1598</span>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="aui-shop-list-item">
                                        <div class="aui-shop-list-item-hd">
                                            <img src="/home/goods/images/sp-003.jpg" alt="">
                                            <span class="aui-shop-list-item-tag">限时购</span>
                                        </div>
                                        <div class="aui-shop-list-item-bd">
                                            <h3>Watch Series 3智能手表（GPS+蜂窝网络款 38毫米 银色铝金属表壳 云雾灰色运动型表带 </h3>
                                            <p class="aui-special-etc">
                                                <span class="aui-special-etc-hd">￥5198</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
