<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>详情页面</title>
<link href="/home/xq/style/shopdetail.css" rel="stylesheet" type="text/css">

<script src="/home/xq/js/jquery-1.9.1.min.js"></script>
<script src="/home/xq/js/common.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
	  var showproduct = {
		  "boxid":"showbox",
		  "sumid":"showsum",
		  "boxw":400,
		  "boxh":550,
		  "sumw":60,//列表每个宽度,该版本中请把宽高填写成一样
		  "sumh":60,//列表每个高度,该版本中请把宽高填写成一样
		  "sumi":7,//列表间隔
		  "sums":5,//列表显示个数
		  "sumsel":"sel",
		  "sumborder":1,//列表边框，没有边框填写0，边框在css中修改
		  "lastid":"showlast",
		  "nextid":"shownext"
		  };//参数定义	  
	 $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
	 
	 $(function(){

		$('.tabs a').click(function(){
			
			var $this=$(this);
			$('.panel').hide();
			$('.tabs a.active').removeClass('active');
			$this.addClass('active').blur();
			var panel=$this.attr("href");
			$(panel).show();				
			return fasle;  //告诉浏览器  不要纸箱这个链接
			})//end click
			
			
			$(".tabs li:first a").click()   //web 浏览器，单击第一个标签吧
	

		
		})//end ready
		
		$(".centerbox li").click(function(){
			$("li").removeClass("now");
			$(this).addClass("now")
			
			});
		
			
});
	
			
		
		
</script>
</head>

<body>

<div class="header">
<div class="top">
	<div class="top1">
		<a href="welcome.html">登录</a>
        <a href="register.html">注册</a>
		<a href="#"><img src="/home/xq/images/index_img/top1.jpg">我的购物车</a>
		<a href="#"><img src="/home/xq/images/index_img/top3.jpg">联系我们</a>
	</div>
</div>

<div class="logobg">
	<div class="center">
		<div class="logo">
			<img src="/home/xq/images/index_img/logo.gif" width="249" height="55">
		</div>
		
	</div>
</div>

	<div class="bottom">
    		<div class="menu"><a href="#">全部商品分类</a></div>	
		<div class="nav">
			<a href="/" class="now">首页</a>
			
	</div>
    
    
</div>


<div class="shopdetails">
	<!-------放大镜-------->
	<div id="leftbox">
	<div id="showbox">
  <img src="/photo/{$goods['pic']}" width="400" height="550" />
  

	</div><!--展示图片盒子-->
		
        
	</div>
   

    <div class="centerbox">
    	<p class="imgname">{$goods['name']}</p>
    	<p class="Aprice">价格：<samp>￥{$goods['price']}</samp></p>
    	<p class="price">促销价：<samp>￥{$goods['price']}</samp></p>
    	<p class="youhui">产品简介：<samp>{$goods['content']}</samp></p>
    	<p class="kefu">客服:</p>
        <ul>
        <li class="kuanshi">款式：</li>
        <li class="now shopimg"><a href="#" title="熊猫套装"><img src="/photo/{$goods['pic']}" width="45"></a></li>
       
        </ul>
        <div class="clear"></div>
        <p class="chima">尺码：</p>
        <p class="buy"><a href="#" id="firstbuy">立即购买</a><a href="#">加入购物车</a></p>
   		<div class="clear"></div>
        <div class="fenx"><a href="#"><img src="/home/xq/images/shopdetail/tell07.png"></a></div>
        <p class="fuwu">服务承诺：</p>
        <p class="pay">支付方式：</p>
    </div>
 
	
</div>




<div class="backf">
<div id="footer">
	 <ul>
  <li class="sy">支付方式</li>
  <li><a href="#">在线支付</a></li>
  <li><a href="#">货到付款</a></li>
  <li><a href="#">发票说明</a></li>
  <li><a href="#">余额宝</a></li>
  
  </ul>
    <ul>
  <li class="sy">购物指南</li>
  <li><a href="#">免费注册</a></li>
  <li><a href="#">申请会员</a></li>
  <li><a href="#">开通支付宝</a></li>
  <li><a href="#">支付宝充值</a></li>
  </ul>
  <ul>
  <li class="sy">商家服务</li>
  <li><a href="#">联系我们</a></li>
  <li><a href="#">客服服务</a></li>
  <li><a href="#">物流服务</a></li>
  <li><a href="#">缺货赔付</a></li>
  </ul>
    <ul>
  <li class="sy">关于我们</li>
  <li><a href="#">知识产权</a></li>
  <li><a href="#">网站合作</a></li>
  <li><a href="#">规则意见</a></li>
  <li><a href="#">帮助中心</a></li>
  </ul>
    <ul>
  <li class="sy">其他服务</li>
  <li><a href="#">诚聘英才</a></li>
  <li><a href="#">法律声明</a></li>

  </ul><div class="clear"></div>
</div>	
    <div class="foot">
    	 <p>使用本网站即表示接受 尚美衣店用户协议</p>
       <p>版权所有——————————————————</p>
    
	</div>
</div>

</body>
</html>
