<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Swiper的切换</title>
	
    <link rel="stylesheet" href="/home/flist/css/swiper.min.css">
    <link rel="stylesheet" href="/home/flist/css/demo.css">
	
    <script src="/home/flist/js/jquery.min.js"></script>
    <script src="/home/flist/js/swiper.min.js"></script>

</head>
<body>
<div id="certify" class="sect10">
    <div class="container container-carousel">
        <div class="community-carousel">
            <div id="caseBlanche">
                <div id="rond">
                    <div id="test"></div>
                </div>
            </div>
            <div id="caseBlanche1">
                <div id="rond1">
                    <div id="test1"></div>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper js_animeSwiper">
                {foreach $type as $v}
                {if $v['pid']==$id}
                    <div class="swiper-slide">
                        <div class="slide-holder">
                            <div class="ava">
                                <img src="/home/flist/images/about1.jpeg" alt="" class="img-responsive">
                            </div>
                            <div class="author-wrap">
                                <span class="name">{$v['name']}</span>
                            </div>
                        </div>
                    </div>
                {/if}
                {/foreach}
                </div>
            </div>
            <div class="swiper-btn-next"></div>
            <div class="swiper-btn-prev"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // community-carousel
    if ( $( ".community-carousel" ).length ) {
        var swiperVideo = new Swiper('.community-carousel .swiper-container', {
            navigation: {
                nextEl: '.community-carousel .swiper-btn-next',
                prevEl: '.community-carousel .swiper-btn-prev',
            },
            loopAdditionalSlides:3,

            effect: 'slide',
            grabCursor: true,
            paginationClickable:true,
            centeredSlides: true,

            loop:true,
            autoplay: true,
            slidesPerView: "auto",
            initialSlide:1,
            keyboardControl:true,
            slideToClickedSlide:true,
            preventClicks:false,
            speed:800,
            followFinger:false,
            onInit: function(swiper){

            },
        });
    }
</script>

</body>
</html>