{extend name="default/index"}

{block name="content"}
    <div class="panel-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>分类名</th>
                                        <th>PID</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $data as $v}
                                    <tr>
                                        <td>{$v['id']}</td>
                                        <td>{:$v->typename}</td>
                                        <td>{$v.pid}</td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <a href="/admin/type_edit/{$v->id}" class="btn btn-transparent">修改分类<i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="/admin/type_delete/{$v->id}" class="btn btn-transparent" onclick="return confirm('确定将此记录删除?')">删除分类<i class="fa fa-times"></i>
                                                </a>
                                                <a href="/admin/type_create/{$v->id}" class="btn btn-transparent">添加子分类<i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
{/block}