{extend name="default/index"}

{block name="content"}
    <div class="panel-content">
                            <div class="table-responsive">
                            <form action="/admin/home_hui" method="get">
                                用户名:<input type="text" name="name">
                                <select name="dj" id="">
                                    <option value="1">白银用户</option>
                                    <option value="2">黄金用户</option>
                                    <option value="3">铂金用户</option>
                                    <option value="4">钻石用户</option>
                                </select>
                                <input type="submit" value="查询">
                            </form>
                                <table class="table table-striped table-hover table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>用户名</th>
                                        <th>性别</th>
                                        <th>等级</th>
                                        <th>状态</th>
                                        <th>注册时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $data as $v}
                                    <tr>
                                        <td>{$v['id']}</td>
                                        <td>{$v['name']}</td>
                                        <td>
                                            {if $v->sex==1}
                                            男
                                            {elseif $v->sex==2}
                                            女
                                            {/if}
                                        </td>
                                        <td>
                                            {if $v->dj==1}
                                            <span style="color:#93979A">白银用户</span>
                                            {elseif $v->dj==2}
                                            <span style="color:yellow">黄金用户</span>
                                            {elseif $v->dj==3}
                                            <span style="color:#0FBFCD">铂金用户</span>
                                            {elseif $v->dj==4}
                                            <span style="color:#980FB9">钻石用户</span>
                                            {/if}
                                        </td>
                                        <td>
                                            {if $v->zt ==1}
                                            <span style="color:green">启用</span>
                                            {elseif $v->zt==2}
                                            <span style="color:red">禁用</span>
                                            {/if}
                                        </td>
                                        <td>{$v.create_time}</td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <a href="/admin/home_edit/{$v->id}" class="btn btn-transparent">修改用户<i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="/admin/home_delete/{$v->id}" class="btn btn-transparent" onclick="return confirm('确定将此记录删除?')">删除用户<i class="fa fa-times"></i>
                                                </a>
                                                    {if $v->zt==1}
                                                        <a href="/admin/home_jy/{$v->id}"><span style="color:red">禁用</span></a>
                                                    {elseif $v->zt==2}
                                                        <a href="/admin/home_qy/{$v->id}"><span style="color:green">启用</span></a>
                                                    {/if}
                                            </div>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                                {:$data->render()}
                            </div>
                        </div>
{/block}