{extend name="default/index"}

{block name="content"}
    <div class="panel-content">
                            <div class="table-responsive">
                           
                                <form action="/admin/friend_index" method="get">
                                    友情链接名<input type="text" name="uname">
                                          <select name="status" id="">
                                            <option value="1">禁用</option>
                                            <option value="2">启用</option>
                                            
                                       </select>
                                        <input type="submit" value="查询">
                                </form>
                                <table class="table table-striped table-hover table-bordered text-center">
                                    <thead>
                                   
                                    <tr>
                                        <th>ID</th>
                                        <th>链接名</th>
                                        <th>链接地址</th>
                                       
                                        <th>图片</th>
                                       
                                        <th>状态</th>
                                         <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     {foreach $data as $v}
                                    <tr>
                                        <td>{$v['id']}</td>
                                        <td>{$v['name']}</td>
                                        <td>{$v['address']}</td>
                                        <td><img width="50" src="/photo/{$v['pic']}"></td> 
                                        <td>
                                            {if $v->zt==1}
                                             <span style="color:green">启用</span>
                                            {elseif $v->zt==2}
                                             <span style="color:red">禁用</span>
                                            {/if}

                                        </td>
                                       
                                       

                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                
                                                <a href="/admin/friend_edit/{$v->id}" class="btn btn-transparent"><i class="fa fa-pencil"></i>
                                                </a>
                                                 <a href="/admin/friend_delete/{$v->id}" class="btn btn-transparent"><i class="fa fa-times"></i>
                                                </a>
                                                {if $v->zt==1}
                                                        <a href="/admin/friend_jy/{$v->id}"><span style="color:red">禁用</span></a>
                                                    {elseif $v->zt==2}
                                                        <a href="/admin/friend_qy/{$v->id}"><span style="color:green">启用</span></a>
                                                    {/if}
                                                
                                                
                                               
                                               
                                            </div>
                                        </td>
                                    </tr>
                                    {/foreach}

                                    </tbody>
                                    </table>
                            </div>
                        </div>

                                     {:$data->render()}

                                    
                                   
                                       
                    

{/block}